<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Balk'es</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

<main>

<!----------------------------------->
<div class="row m-0" id="chat">

    <div class="py-3 px-0 text-center">
        <div class="jumbotron pb-lg-5">
            <h2 class="pb-5 py-4 text-center">Comentarios</h2>
            <div class="container" style=" width: 70%;
                    background: #ffffffbf;
                    border-radius: 2%;
                    padding: 1em;">
                <form onsubmit="return enviarMensaje()">
                    <div class="mb-3">
                        <label class="form-label">Email:</label>
                        <input type="email" id="email" class="form-control" placeholder="Ingrese su email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="text" id="mensaje" class="form-control" placeholder="Comentarios" required>
                    </div>
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <hr>
        <table class="table">
            <div id="listaMensajes" class="d-flex flex-column text-decoration-none"> </div>
        </table>
        <h4 class="text-center py-5" id="sinMensajes"> - No hay comentarios disponibles - </h4>
    </div>
    </main>
   
    <!-- ----------------------------------------------------------------------------------------- -->
<script src="/js/index.js"></script>
<script src="/js/chat.js"></script>
</body>

</html>